<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="stylesheet" href="/public/stylesheets/style.css">
  <title>Document</title>
</head>
<body>

<% if (nav=== true){ %>
    <header class="header">
        <a href="#" class="logo">
         LOGO

        </a>
        <i class='bx bx-menu' id="menu-icon"></i>
        <nav class="navbar">
            <a href="#">About</a>
            <a href="/signinpage" class="signin" id="signin">Sign In <i class="bx bx-chevron-down"></i></a>
            <a href="/registerpage" class="register" id="register">Register <i class="bx bx-chevron-down"></i></a>
            

        </nav>
    </header>
    <div class="nav-bg"></div>
            
          
        </nav>
    </header>
    <div class="nav-bg"></div>

<style>

    

    @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: "Poppins", sans-serif;
    }
    body {
      position: relative;
      min-height: 100vh;
      background-size: cover;
      background-position: center;
    }
    .header {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      padding: 20px 100px;
      display: flex;
      justify-content: space-between;
      background-color: rgba(255, 255, 255, 0.334);
      color: black;  
      align-items: center;
      backdrop-filter: blur(10px);
      border-bottom-left-radius: 2vw;
      border-bottom-right-radius: 2vw;
      
    }
    .logo img{
      height: 60px;
      width: 60px;
      border-radius: 50%;
      
    }
    .header a{ 
      color: black;
    }
    .header::before {
      content: "";
      position: absolute;
      top: 0;
      left: -100%;
      width: 100%;
      height: 100%;
      background: linear-gradient(
        90deg,
        transparent,
        rgba(24, 204, 0, 0.4),
        transparent
      );
      transition: 0.5s;
    }
    .header:hover::before {
      left: 100%;
    }
    .logo {
      color: #fff;
      font-size: 25px;
      text-decoration: none;
      font-weight: 600;
      cursor: default;
    }
    .navbar a {
      color: #000000;
      font-size: 18px;
      text-decoration: none;
      margin-left: 35px;
      transition: 0.3s;
      font-weight: bold;
      text-transform: uppercase;
    }
    .navbar a:hover {
      color: rgb(19, 116, 0);
    }
    #menu-icon {
      font-size: 36px;
      color: #fff;
      display: none;
    }
    .navbar .dropdown {
            display: inline-block;
            margin-left: 35px;
            position: relative;
        }

        .navbar .dropdown:hover .dropdown-content {
            display: block;
        }

        .navbar .dropdown-content {
            display: none;
            position: absolute;
            top: 100%;
            left: 0;
            background-color: rgba(0, 0, 0, 0.633);
            min-width: 140px;
            z-index: 1;
        }

        .navbar .dropdown-content a {
            color: #fff;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
        }

        .navbar .dropdown-content a:hover {
            background-color: rgb(58, 58, 58);
            color: green;
        }
    @media (max-width: 992px) {
      .header {
        padding: 1.25rem 4%;
      }
    }
    @media (max-width: 768px) {
      #menu-icon {
        display: block;
      }
      .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 0.5rem 4%;
        display: none;
      }
      .navbar.active {
        display: block;
      }
      .navbar a {
        display: block;
        margin: 1.5rem 0;
      }
      .nav-bg {
        position: absolute;
        top: 79px;
        left: 0;
        width: 100%;
        height: 295px;
        background: rgba(255, 255, 255, 0.1);
        border-bottom: 2px solid rgba(255, 255, 255, 0.2);
        backdrop-filter: blur(10px);
        z-index: 99;
        display: none;
      }
      .nav-bg.active {
        display: block;
      }
    }
    </style>
    <script>
      const menuIcon = document.querySelector('#menu-icon');
      const navbar = document.querySelector('.navbar');
      const navbg = document.querySelector('.nav-bg');

      menuIcon.addEventListener('click', () => {
        menuIcon.classList.toggle('bx-x');
        navbar.classList.toggle('active');
        navbg.classList.toggle('active');
      });
</script>

<% } %>

