
  <% include ./header.ejs %>

  <div class="main">
    <div class="login-box">
  <h1>Welcome to Pintrest</h1>
  <form action="/login" method="post">
    <input type="text" name="username" placeholder="username" class=" block w-full px-3 py-2">
    <input type="password" name="password" placeholder="password" class=" block w-full px-3 py-2">
    <input type="submit" class="block w-full bg-red-600 px-3 py-2 text-white submit">
  </form>
  <a href="/register">Dont have an account ?</a>
    </div>
  </div>

  <% include ./footer.ejs %>
