*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gilroy';
  
}
*::selection{
    color: rgb(0, 209, 0);
    background-color: black;
}
html , body{
    height: 100%;
    width: 100%;
    background: black;
    
}
.container{
    height: 100%;
    width: 100%;
    background-color: yellow;
}
